@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: oklch(0.985 0 0); /* contraste claro */
  --color-sidebar-primary: oklch(0.466 0.213 264.5); /* #1f65aa */
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: oklch(0.985 0 0); /* contraste claro */
  --color-primary: oklch(0.466 0.213 264.5); /* #1f65aa */
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Sistema */
  --color-accent-yellow: #1f65aa;           /* cor principal */
  --color-accent-deep-yellow: #174882;      /* tom mais escuro para hover ou bordas */
  --color-text-deep-yellow: #ffffff;        /* contraste claro para textos */
  --color-accent-yellow-selection: #4b85d6; /* seleção de texto */
  --color-accent-yellow-hover: #174882;   

  --color-success-bg:hsl(143, 85%, 96%);
  --color-success-border:hsl(145, 92%, 87%);
  --color-success-text:hsl(140, 100%, 27%);

  --color-success-bg-dark:hsl(150, 100%, 6%);
  --color-success-border-dark:hsl(147, 100%, 12%);
  --color-success-text-dark:hsl(150, 86%, 65%);
}


:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.466 0.213 264.5); /* cor principal */
  --primary-foreground: oklch(0.985 0 0); /* contraste claro */
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.466 0.213 264.5);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.985 0 0); 
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  ::selection {
    background: var(--color-accent-yellow-selection);
    color: black;
  }

  .colored-card {
    @apply flex flex-row w-[291px] h-[125px] rounded-xl items-center gap-4;
  }

  .icon {
    @apply dark:text-black;
  }

  .colored-card h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-text-deep-yellow);
  }

  .colored-card p {
    font-size: 16px;
    line-height: 1;
    color: var(--color-text-deep-yellow);
  }

  .colored-card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 28px;
  }

  [data-slot="slider-range"] {
    background-color: var(--color-accent-yellow-hover) !important;
  }

  [data-slot="slider-thumb"] {
    background-color: var(--color-accent-yellow) !important;
    border: none !important;
  }
}

/* INFINITY-BG */
@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.infinite-scroll-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.infinite-scroll-wrapper {
  display: flex;
  height: 100%;
  animation: scroll-infinite var(--scroll-speed) linear infinite;
  will-change: transform;
  transition: opacity 0.3s ease-in-out;
}

.infinite-scroll-item {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}

.infinite-scroll-pause-on-hover:hover .infinite-scroll-wrapper {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
  .infinite-scroll-wrapper {
    animation-duration: calc(var(--scroll-speed) * 3);
  }
}